.button-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.button-inner {
  border-radius: 24px;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  text-align: center;
  font-size: 16px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button-inner.xlarge {
  border-radius: 32px;
  padding: 18px 24px;
  font-size: 20px;
}
.button-inner.large {
  border-radius: 28px;
  padding: 16px 24px;
  font-size: 18px;
}
.button-inner.normal {
  padding: 12px 16px;
  min-width: 100px;
}
.button-inner.small {
  padding: 8px 24px;
  font-size: 14px;
}
.button-inner.xsmall {
  padding: 4px 12px;
  font-size: 12px;
}
/* borderless */
.button-inner.borderless {
  background: var(--color-white);
  color: var(--color-black);
}
@media (hover: hover) and (pointer: fine) {
  .button-inner:hover.borderless {
    color: var(--color-black);
    background: var(--color-gray-1);
  }
}
.button-inner:active.borderless {
  color: var(--color-black);
  background: var(--color-gray-2);
}
.button-inner.borderless.dark {
  background: var(--color-black);
  color: var(--color-white);
}
@media (hover: hover) and (pointer: fine) {
  .button-inner:hover.borderless.dark {
    color: var(--color-white);
    background: var(--color-gray-9);
  }
}
.button-inner:active.borderless.dark {
  color: var(--color-white);
  background: var(--color-gray-8);
}
/* solid */
.button-inner.solid {
  background: var(--color-black);
  color: var(--color-white);
}
@media (hover: hover) and (pointer: fine) {
  .button-inner:hover.solid {
    color: var(--color-white);
    background: var(--color-gray-4);
  }
}
.button-inner:active.solid {
  color: var(--color-white);
  background: var(--color-gray-5);
}
.button-inner.solid.dark {
  background: var(--color-white);
  color: var(--color-black);
}
@media (hover: hover) and (pointer: fine) {
  .button-inner:hover.solid {
    color: var(--color-black);
    background: var(--color-gray-4);
  }
}
.button-inner:active.solid {
  color: var(--color-black);
  background: var(--color-gray-5);
}
/* outline */
.button-inner.outline {
  background: var(--color-white);
  color: var(--color-black);
  border: 1px solid var(--color-black);
}
@media (hover: hover) and (pointer: fine) {
  .button-inner:hover.outline {
    color: var(--color-gray-4);
    background: var(--color-white);
    border: 1px solid var(--color-gray-4);
  }
}
.button-inner:active.outline {
  color: var(--color-gray-6);
  background: var(--color-white);
  border: 1px solid var(--color-gray-6);
}
.button-inner.outline.dark {
  background: var(--color-black);
  color: var(--color-white);
  border: 1px solid var(--color-white);
}
@media (hover: hover) and (pointer: fine) {
  .button-inner:hover.outline.dark {
    color: var(--color-gray-4);
    background: var(--color-black);
    border: 1px solid var(--color-gray-4);
  }
}
.button-inner:active.outline.dark {
  color: var(--color-gray-6);
  background: var(--color-black);
  border: 1px solid var(--color-gray-6);
}
/* error/success stuff */
.button-inner.error {
  color: var(--color-black);
  background: var(--color-pink-4);
}
.button-inner.success {
  color: var(--color-black);
  background: var(--color-green-4);
}
.button-inner.error.dark {
  color: var(--color-black);
  background: var(--color-pink-4);
}
.button-inner.success.dark {
  color: var(--color-black);
  background: var(--color-green-4);
}
