html {
  --btn-border: 1px;
}

.button {
  border-radius: 10rem;
  font-weight: bold;
  width: min(6rem, fit-content);
  height: fit-content;
  text-align: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button.xlarge {
  font-size: var(--font-xlarge, 1.25rem);
  padding: 1.125rem 1.5rem;
}
.button.large {
  font-size: var(--font-large, 1.125rem);
  padding: 1rem 1.5rem;
}
.button.normal {
  font-size: var(--font-normal, 1rem);
  padding: 0.75rem 1rem;
}
.button.small {
  font-size: var(--font-small, 0.875rem);
  min-width: 1rem;
  padding: 0.5rem 1.5rem;
}
.button.xsmall {
  font-size: var(--font-xsmall, 0.75rem);
  min-width: 1rem;
  padding: 0.25rem 0.75rem;
}
/* borderless */
.button.borderless {
  background: var(--color-white);
  color: var(--color-black);
}
@media (hover: hover) and (pointer: fine) {
  .button:hover.borderless {
    color: var(--color-black);
    background: var(--color-gray-1);
  }
}
.button:active.borderless {
  color: var(--color-black);
  background: var(--color-gray-2);
}
.button.borderless.dark {
  background: var(--color-black);
  color: var(--color-white);
}
@media (hover: hover) and (pointer: fine) {
  .button:hover.borderless.dark {
    color: var(--color-white);
    background: var(--color-gray-9);
  }
}
.button:active.borderless.dark {
  color: var(--color-white);
  background: var(--color-gray-8);
}
/* solid */
.button.solid {
  background: var(--color-black);
  color: var(--color-white);
}
@media (hover: hover) and (pointer: fine) {
  .button:hover.solid {
    color: var(--color-white);
    background: var(--color-gray-4);
  }
}
.button:active.solid {
  color: var(--color-white);
  background: var(--color-gray-5);
}
.button.solid.dark {
  background: var(--color-white);
  color: var(--color-black);
}
@media (hover: hover) and (pointer: fine) {
  .button:hover.solid {
    color: var(--color-black);
    background: var(--color-gray-4);
  }
}
.button:active.solid {
  color: var(--color-black);
  background: var(--color-gray-5);
}
/* outline */
.button.outline {
  background: var(--color-white);
  color: var(--color-black);
  border: var(--btn-border, 1px) solid var(--color-black);
}
@media (hover: hover) and (pointer: fine) {
  .button:hover.outline {
    color: var(--color-gray-4);
    background: var(--color-white);
    border: var(--btn-border, 1px) solid var(--color-gray-4);
  }
}
.button:active.outline {
  color: var(--color-gray-6);
  background: var(--color-white);
  border: var(--btn-border, 1px) solid var(--color-gray-6);
}
.button.outline.dark {
  background: var(--color-black);
  color: var(--color-white);
  border: var(--btn-border, 1px) solid var(--color-white);
}
@media (hover: hover) and (pointer: fine) {
  .button:hover.outline.dark {
    color: var(--color-gray-4);
    background: var(--color-black);
    border: var(--btn-border, 1px) solid var(--color-gray-4);
  }
}
.button:active.outline.dark {
  color: var(--color-gray-6);
  background: var(--color-black);
  border: var(--btn-border, 1px) solid var(--color-gray-6);
}
/* error/success stuff */
.button.error {
  color: var(--color-black);
  background: var(--color-pink-4);
}
.button.success {
  color: var(--color-black);
  background: var(--color-green-4);
}
.button.error.dark {
  color: var(--color-black);
  background: var(--color-pink-4);
}
.button.success.dark {
  color: var(--color-black);
  background: var(--color-green-4);
}
