.example-section {
  max-width: 400px;
  padding: 8px;
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: column;
}

.example-section.dark {
  border: 1px solid var(--color-white);
}

.title-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.description {

}
