.header {
  /* border-bottom: 1px solid var(--color-black); */
  padding: 4px;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

.header.dark {
  /* border-bottom: 1px solid var(--color-white); */
}

.section-box {
  padding: 4px;
  margin: 4px;
  /* border: 1px solid var(--color-black); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-box.dark {
  /* border: 1px solid var(--color-white); */
}

.section-components {
  display: flex;
  margin-top: 8px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header6 {
  padding-bottom: 4px;
}
