.button-outer {
  display: flex;
  justify-content: center;
}
.button-inner {
  background: var(--color-black);
  border-radius: 8px;
  padding: 12px 16px;
  color: var(--color-white);
  cursor: pointer;
  font-weight: bold;
  border: 1px solid transparent;
  user-select: none;
  min-width: 100px;
  text-align: center;
}
.button-inner.hover {
  border: 1px solid var(--color-black);
  color: var(--color-black);
  background: transparent;
}
.button-inner.error {
  color: var(--color-black);
  background: var(--color-pink-4);
}
.button-inner.success {
  color: var(--color-black);
  background: var(--color-green-4);
}
