.example-section {
  max-width: 400px;
  padding: 8px;
  border: 1px solid black;
}

.title-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.description {

}
