<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIKit Demo</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />

    <!-- remove when adding favicon -->
    <link rel="icon" href="data:,">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
