html {
  --gap: 0.5rem;
}

.flex {
  display: flex;
  gap: var(--gap, 0.5rem);
  flex-wrap: wrap;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
  gap: var(--gap, 0.5rem);
}
