.header {
  border-bottom: 1px solid black;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

.container {
  display: flex;
  flex-direction: column;
}

.section-box {
  padding: 4px;
  margin: 4px;
  border: 1px solid black;
}

.section-components {
  display: flex;
  margin-top: 8px;
  justify-content: space-around;
  flex-wrap: wrap;
}
