.header {
  border-bottom: 1px solid black;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

.container {
  display: flex;
  flex-direction: column;
}

.section-box {
  padding: 4px;
  border-radius: 4px;
  border: 1px solid black;
}
